Repository angular/material, pull requests merged in 2018-05, with the labels that each got.

#11258 fix(menuBar): md-menu-bar panel theme supports dark mode
  src/components/menuBar/menu-bar-theme.scss
Labels: P4: minor, cla: yes, pr: lgtm, pr: merge ready, type: bug, ui: theme

#11269 fix(navBar): missing [disabled] scss selector
  src/components/navBar/navBar-theme.scss
Labels: P4: minor, cla: yes, pr: lgtm, pr: merge ready, type: bug, ui: CSS

#11286 docs(datepicker): fix invalid property types, typos
  docs/content/performance/internet-explorer.md
  package-lock.json
  package.json
  src/components/datepicker/js/dateLocaleProvider.js
  src/components/datepicker/js/datepickerDirective.js
Labels: P4: minor, cla: yes, pr: merge ready, type: docs

#11287 docs(virtualRepeat): clean up and clarify
  src/components/autocomplete/js/autocompleteDirective.js
  src/components/virtualRepeat/virtual-repeater.js
Labels: P4: minor, cla: yes, pr: merge ready, type: docs

#11290 docs(tabs): clean up and refinements
  src/components/tabs/js/tabsDirective.js
Labels: P4: minor, cla: yes, pr: merge ready, type: docs

#11295 docs(calendar): add calendar demo
  src/components/datepicker/_demoCalendar/index.html
  src/components/datepicker/_demoCalendar/script.js
  src/components/datepicker/demoCalendar/index.html
  src/components/datepicker/demoCalendar/script.js
  src/components/datepicker/demoCalendar/style.scss
Labels: P4: minor, cla: yes, pr: merge ready, pr: merge safe, type: docs
